{% include 'header.twig' %}
<head>
    <link type="text/css" href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <h1>Add New Activity</h1>

    <form method="post">
        <div class="form-group">
            <label for="activity">Activity:</label>
            <input type="text" class="form-control" name="activity" required>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>

</body>
</html>